<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{{url_for('static',filename='css/bootstrap5/css/bootstrap.min.css')}}" rel="stylesheet"/>
    <title>Flask Demo</title>
  {% block pagestyles %}{% endblock %}
</head>

<body>
<div class="container">
{% block content %}{% endblock %}

</div>
<script src="{{ url_for('static', filename='dist/js/main.min.js') }}"></script>
<script src="{{url_for('static',filename='js/jquery-3.5.1.min.js')}}"></script>
<script src="{{url_for('static',filename='css/bootstrap5/js/bootstrap.min.js')}}"></script>
{% block additionalscripts %}{% endblock %}
</body>

</html>
